<?xml version="1.0" encoding="UTF-8"?>
<!--Change done by Mundu-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--Change done by Sanjay-->
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.restassured.sept28.newRestAssured.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
